<h4>Edition du profil</h4>

<%= bootstrap_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put },layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-8") do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.text_field :name, label: "Nom" %></div>

  <div><%= f.text_field :firts_name, label: "Prénom"%></div>

  <div><%= f.email_field :email, label:"Email" %></div>

  <div><%= f.number_field :year, label: "Année de promotion" %></div>

  <div><%= f.number_field :phone, label: "Numéro de téléphone" %></div>

  <div><%= f.password_field :password , label: "Mot de passe"%></div>

  <div><%= f.password_field :password_confirmation, label:"Confirmez" %></div>
  <div class = "btenregistrer"><%= f.primary"Mettre à jour" %></div>
<% end %>

<h4>Fermer mon compte</h4>
<div class ="center">
<p>Rage quit? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" },class: "btn btn-danger",  :method => :delete%></p>

<%= link_to "Retour", :back %></div>
