<h4>S'inscrire</h4>
<div class="sign_up">

<%= bootstrap_form_for(resource, :as => resource_name, :url => registration_path(resource_name),layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-8") do |f| %>
  <%= devise_error_messages! %>

  <div class="form-signin"><%= f.text_field :name, label: "Nom" %></div>

  <div><%= f.text_field :firts_name, label: "Prénom"%></div>

  <div><%= f.email_field :email, label:"Email" %></div>

  <div><%= f.number_field :year, label: "Année de promotion" %></div>

  <div><%= f.number_field :phone, label: "Numéro de téléphone" %></div>

  <div><%= f.password_field :password , label: "Mot de passe"%></div>

  <div><%= f.password_field :password_confirmation, label:"Confirmez" %></div>
  
  <div><%= f.primary "S'inscrire" %></div>

<% end %>

<%= render "devise/shared/links" %>
</div>