<div class="sign_up">
<h3>Sign up</h3>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-signin"><%= f.label :Nom %><br />
  <%= f.text_field :name %></div>

  <div><%= f.label :Prénom %><br />
  <%= f.text_field :firts_name%></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :Année %><i> Année de graduation, exemple '2016'</i><br />
  <%= f.number_field :year %></div>

  <div><%= f.label :Numéro_de_téléphone %><i> Exemple '0101010101' </i><br />
  <%= f.number_field :phone %></div>

  <div><%= f.label :password %><i>Écrire 8 caractères au minimum </i><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
</div>