-if user_signed_in?
  %h4 Ajouter une entreprise
  = bootstrap_form_for(@company, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-8") do |f|
    %div
      = f.text_field :name, label: "Nom", placeholder: "Appsdeck"
    %div
      = f.text_field :field, label: "Domaine", placeholder: "Activité principale"
    %div
      = f.url_field :web_site, label: "Site internet"
    %div
      = f.email_field :mail, label: "Email",placeholder: "Comment contacter l'entreprise par mail"
    %div
      = f.number_field :phone, label: "Contact téléphone"
    %div
      = f.text_field :adress, label: "Adresse postale"
    %div
      = f.text_field :existence
    %div
      = f.text_area :supervisors, label: "Maitres de stage", placeholder: "Liste des personnes ayant déja pris des ensiiens en stage"
    .btenregistrer
      = f.primary "Enregistrer"
-else
  %h5
    ="Hello stranger"
    %small
      ="veuillez vous connecter ou vous inscrire pour accéder au site !"
