-if user_signed_in?
  -if current_user.id==@internship.user_id
    %h4 Éditer un stage
    = bootstrap_form_for(@internship, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-8") do |f|
      - if @internship.errors.any?
        #error_explanation
          %h2= "#{pluralize(@internship.errors.count, "errors")} prohibited this annonce from being saved: "
          %ul
            - @internship.errors.full_messages.each do |msg|
              %li = msg
      %div
        = f.text_field :comp, label: "Entreprise", placeholder: "Nom"
      %div
        = f.text_field :field, label: "Domaine", placeholder: "Techniques et/ou technologies utilisées pendant le stage"
      %div
        = f.text_field :supervisor, label:"Maitre de Stage", placeholder: "Nom ou contact"
      %div
        = f.text_area :commentary, label: "Sujet et commentaire", placeholder: "Détaillez ici le contennu du stage, son déroulement, ses conditions. N'oubliez pas d'ajouter une partie personnelle. Conseillez-vous à quelqu'un d'autre de faire le même stage ?"
      %div
        = f.text_field :period, label: "Durée du stage"
      %div
        = f.number_field :schoolyear, label: "Semestre", placeholder: "Précisez, stage de 1A, 2A ou 3A"
      %div
        .btenregistrer
          = f.primary "Enregistrer", layout: :inline
  -else
    %h5
      ="Petit voyou"
      %small
        ="Vous n'avez pas les droits d'editer cette page !"        

-else 
  %h5
    ="Hello stranger"
    %small
      ="veuillez vous connecter ou vous inscrire pour accéder au site !"
  #banierehc.container
    .row
      .col-md-3
        .center
          %img{alt: "Calendar", src: "/images/icons/svg/calendar.svg"}
          %h6 Vous cherchez un stage et vous manquez d'inspiration ?
      .col-md-3
        .center
          %img{src: "/images/icons/svg/compas.svg"}
          %h6 Vous ne connaissez pas beaucoup d'entreprise de la région ?
      .col-md-3
        .center
          %img{src: "/images/icons/svg/pencils.svg"}
          %h6 Vous êtes un anciens qui souhaite contribuer au réseau des iiens ?
      .col-md-3
        .center
          %img{src: "/images/icons/svg/retina.svg"}
          %h6 Inscrivez-vous, découvrez et partagez !