<%= form_for @internship do |f| %>
 <div> <%= f.label :Entreprise %>:<br />
  <%= f.text_field :comp%><br /></div> 

  <div><%= f.label :Domaine %>:<i> Exemple : 'C#'</i><br />
  <%= f.text_field :field %><br /></div>

  <div><%= f.label :Maître_de_Stage %>:<i> Exemple : "Pierre Tellier" </i><br />
  <%= f.text_field :supervisor %><br /></div>

  <div><%= f.label :Commentaire %>:<br />
  <%= f.text_field :commentary %><br /></div>

  <div><%= f.label :Période %>:<i> Exemple : ' du 1er juillet 2013 au 29 août 2013'</i><br />
  <%= f.text_field :period %><br /></div>

  <div><%= f.label :Année %>:  <i> Exemple : '1' s'il s'agit du stage de 1ère année. </i><br />
  <%= f.number_field :schoolyear %><i>A</i></div>

  <%= f.submit %>
<% end %>

