-if user_signed_in?
  %h1
  = @internship.comp

  %h2
  = @internship.field

  %p
  = @internship.supervisor

  %p
  = @internship.commentary

  %p
  = @internship.period

  %p
  = @internship.schoolyear

  =button_to "supprimer", { :controller => :internships, :action => 'destroy', :id => @internship.id }, :method => :delete, class: "btn btn-danger"




