%h1
  = @internship.comp

%h2
  = @internship.field

%p
  = @internship.supervisor

%p
  = @internship.commentary

%p
  = @internship.period

%p
  = @internship.schoolyear

%hr

%p
  %a{href: "/interships/new"}
    Créer un nouveau stage
