%h1
  = @internship.comp

%h2
  = @internship.field

%p
  = @internship.supervisor

%p
  = @internship.commentary

%p
  = @internship.period

%p
  = @internship.schoolyear

%hr

%p
  %a{href: "app/views/interships/remove"}
    Supprimer la fiche


