-if user_signed_in?
  %h1
    = @internship.comp

  %h2
  = @internship.field

  %p
  = @internship.supervisor

  %p
  = @internship.commentary

  %p
  = @internship.period

  %p
  = @internship.schoolyear

  .container
    .row
      .col-md-9
        .row
          .col-md-1
            %a
              =button_to 'Editer', {:controller => :internships, :action => 'edit', :id => @internship.id}, class: "btn btn-primary", :method=> 'get'
          .col-md-1

            %a 
              =button_to "Supprimer", { :method => 'get', :controller => :internships, :action => 'destroy', :id => @internship.id }, :method => :delete, class: "btn btn-danger"

  
-else 
  %p Page non disponible hors connection !


