-if user_signed_in?
	%h5 
		="Tous les Stages"
		#show_all_int.label.label-default
			%a{href:"/internships/new"}
				="+"
	-@internship.each do |i|
		.row
			.col-md-2
			.col-md-8
				.panel.panel-info
					.panel-heading	
						= "@ "+i.comp
					.panel-body
						.row
							.col-md-6
								.section
									Technologie
							.col-md-6
								.comment 
									= i.field
						.row
							.col-md-6
								.section
									Maitre de stage
							.col-md-6
								.comment
									= i.supervisor
						.row
							.col-md-6
								.section
									Sujet et commentaire
							.col-md-6
								.comment
									= truncate(i.commentary, :length => 50, :separator => ' ')									
					.panel-footer
						.row
							.col-md-6.indication_ds_panelfooter
								=link_to 'Voir la fiche', {:controller => :internships, :action => :show, :id => i.id}	
								-if current_user.id==i.user_id
									|
									=link_to 'Editer', {controller => :internships, :action => :edit, :id => i.id}
							.col-md-6.date_ds_panelfooter
								="Maj le : "+i.updated_at.to_time.strftime('%B %e at %l:%M %p').to_s	
	.center
		= will_paginate(@internship, :renderer => WillPaginate::ActionView::LinkRenderer)
-else
	%h5
		="Hello stranger"
		%small
			="veuillez vous connecter ou vous inscrire pour accéder au site !"