-if user_signed_in?
  %h1
    = @internship.comp

  %h2
  = @internship.field

  %p
  = @internship.supervisor

  %p
  = @internship.commentary

  %p
  = @internship.period

  %p
  = @internship.schoolyear

  = link_to 'Edit', edit_internship_path(@internship)
  =button_to 'Editer', { :controller => :internships, :action => 'edit', :id => @internship.id}, class: "btn btn-primary"
  =button_to "Supprimer", { :controller => :internships, :action => 'destroy', :id => @internship.id }, :method => :delete, class: "btn btn-danger"

  
-else 
  %p Page non disponible hors connection !


