-if user_signed_in?
	%h3
		="Bienvenue"
		%small
			=@current_user.firts_name+" "+@current_user.name 
	.row
		.col-md-6
			%h5 
				="Stages récents"
				#show_all_int.label.label-default
					%a{href:"/internships/new"}
						="+"
				#show_all_int.label.label-default
					%a{href: "/internships/show_all"}
						="Voir tous"          
			-@internships.reverse.each do |i|
				.panel.panel-info
					.panel-heading  
						= "@ "+i.comp
					.panel-body
						.row
							.col-md-5
								.section
									Technologie
							.col-md-6
								.comment 
									= i.field
						.row
							.col-md-5
								.section
									Maitre de stage
							.col-md-6
								.comment
									= i.supervisor
						.row
							.col-md-5
								.section
									Sujet et commentaire
							.col-md-6
								.comment
									= truncate(i.commentary, :length => 25, :separator => ' ')
					.panel-footer
						.row
							.col-md-6.indication_ds_panelfooter
								=link_to 'Voir la fiche', {:controller => :internships, :action => :show, :id => i.id}  
								-if current_user.id==i.user_id
									|
									=link_to 'Editer' ,{:controller => :internships, :action => :edit, :id => i.id}
							.col-md-6.date_ds_panelfooter
								="Maj le : "+i.updated_at.to_time.strftime('%B %e at %l:%M %p').to_s
		.col-md-6
			%h5 
				="Entreprises récentes"
				#show_all_comp.label.label-default
					%a{href:"companies/new"}
						="+"
				#show_all_comp.label.label-default
					%a{href: "/companies/show_all"}
						="Voir toutes"      
			-@compagny.reverse.each do |j|
				.panel.panel-success
					.panel-heading
						= j.name
					.panel-body
						.row
							.col-md-5
								.section
									Domaine
							.col-md-6
								.comment 
									= j.field
						.row
							.col-md-5
								.section
									Site internet
							.col-md-6
								%a.comment{href:"#{j.web_site}"}
									= j.web_site  
					.panel-footer
						.row
							.col-md-6.indication_ds_panelfooter
								=link_to 'En savoir plus', {:controller => :companies, :action => :show, :id => j.id}
							.col-md-6.date_ds_panelfooter
								="Maj le : "+j.updated_at.to_time.strftime('%B %e at %l:%M %p').to_s
-else
	-if admin_signed_in?
		%h5 Panneau de gestion des comptes utilisateurs

		.panel.panel-warning
			.panel-heading
				%h6
					="Liste des utilisateurs : "
					#voir_attente.label.label-danger
						=link_to "Attente de validation",:controller => "accueil", :action => "login", :approved => "false"
					#voir_accepte.label.label-success
						=link_to "Validés", :controller => "accueil", :action => "login", :approved => "true"

			.panel-body         			
				.row
					.col-md-4
						.section
							="Compte"
					.col-md-4
						.section
							="Etat de validation"
		        
				-@user.each do |u|
					.row
						.col-md-4
							.section
								=u.email
						.col-md-4
							.comment
								-if u.approved?
									#user_valide
										="Validé"
								-else
									#user_nonvalide
										="Attente de validation"
						.col-md-4
							.comment
								-if !u.approved?
									=link_to "Valider",:controller => "users", :action => "validate", id: u.id
								-else
									="Supprimer"

		%h5 Panneau de gestion des comptes fiches de stages

		.panel.panel-warning
			.panel-heading
				%h6
					="Liste des fiches de stages : "
					#voir_attente.label.label-danger
						=link_to "Fiches non signalées",:controller => "accueil", :action => "login", :approved => "false"
					#voir_accepte.label.label-success
						=link_to "Fiches signalées", :controller => "accueil", :action => "login", :approved => "true"

			.panel-body         			
				.row
					.col-md-4
						.section
							="Compte"
					.col-md-4
						.section
							="Etat"
		        
				-@internship.each do |i|
					.row
						.col-md-4
							.section
								=i.id
						.col-md-4
							.comment
								-if i.approved?
									#user_valide
										="Signalée"
								-else
									#user_nonvalide
										="Non signalée"
						.col-md-4
							.comment
								-if !i.approved?
									=link_to "Enlever le signalement",:controller => "internships", :action => "unsignaled", id: u.id
								-else
									="Supprimer"
	-else              
		%h5
			="Hello stranger"
			%small
				="veuillez vous connecter ou vous inscrire pour accéder au site !"
		#banierehc
			.row
				.col-md-3
					.center
						%img{alt: "Calendar", src: "/images/icons/svg/calendar.svg"}
				.col-md-3
					.center
						%img{src: "/images/icons/svg/compas.svg"}
				.col-md-3
					.center
						%img{src: "/images/icons/svg/pencils.svg"}
				.col-md-3
					.center
						%img{src: "/images/icons/svg/retina.svg"}
			.row
				.col-md-3
					.center
						%h6 Vous cherchez un stage et vous manquez d'inspiration ?        
				.col-md-3
					.center
						%h6 Vous ne connaissez pas beaucoup d'entreprises de la région ?
				.col-md-3
					.center
						%h6 Vous êtes un ancien qui souhaite contribuer au réseau des iiens ?
				.col-md-3
					.center                         
						%h6 Inscrivez-vous, découvrez et partagez !
		.row
			.col-md-6
				#btnhc_connection
					=button_to "Se connecter", new_user_session_path, class: "btn btn-primary btn-lg", :method => "get"
			.col-md-6
				#btnhc_inscription
					=button_to "S'inscrire", new_user_registration_path, class: "btn btn-inverse btn-lg", :method => "get" 