!!!
%html
  %head
    %title Stagiie
    %link{href: "app/assets/stylsheets/bootstrap-3.1.1-dist/css/bootstrap.min.css", rel: "stylesheet"}/
    %link{href: "app/assets/stylsheets/flat-ui.css", rel: "stylesheet"}/
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{href: "app/assets/stylesheets/style.css", rel: "stylesheet"}
  %body
    %nav.navbar.navbar-inverse{role: "navigation"}
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %a.navbar-brand{href: "/"} Stagiie
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              #ajoutstage
              %a{href: "/internships/new", "data-placement"=>"bottom", "data-toggle"=>"tooltip", title: "Cliquer pour ajouter un témoignage de stage"} ++ Stage
            %li
              %a{href: "/companies/new"} ++ Fiche entreprise
            %li
              %a{"data-target" => ".bs-example-modal-lg", "data-toggle" => "modal"} A propos
              .modal.fade.bs-example-modal-lg{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", role: "dialog", tabindex: "-1"}
                .modal-dialog.modal-lg
                  .modal-content
                    .modal-header
                      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
                      %h4 
                        Stagiie
                        %small 
                          Pour le partage d'expériences entre ensiiens
                    .modal-body
                      %h6 Quel est le but de ce site ?
                      %p Cette application web est destinée à l'ensemble des étudiants de l'ENSIIE, école nationale supérieure d'informatique pour l'industrie et l'entreprise. Elle permet aux étudiants qui recherchent un stage d'été d'obtenir des informations, des exemples de ce qu'il est possible de faire dans un stage ou encore d'avoir accès à une base de données d'entreprises qui ont des relations avec l'école.               
                      %h6 Pourquoi ce site ?
                      %p Ce site fait l'objet d'un sujet de programmation web au cours du semestre 2 de formation. Il est développé en Ruby on Rails 4, s'appuie sur une base de donnée PostgreSQL 9.1 et utilise le template Twitter Bootstrap 3 modifié.
                      %h6 L'équipe
                      %p La dream team chargée du développement est consituée de 2 étudiants :
                      %ul
                        %li
                          %p Aurélie Pallas
                        %li
                          %p Olivier Staub
                    .modal-footer
                      %button.btn.btn-danger{"data-dismiss" => "modal", type: "button"} Fermer
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li
                = link_to current_user.firts_name+' '+current_user.name, edit_user_registration_path, :class => 'navbar-link'
              %li
                \#{link_to "Se déconnecter", destroy_user_session_path, method: :delete, :class => 'navbar-link'}
            - else 
              - if admin_signed_in?
                Admin is
                =succeed "." do
                  %strong=current_admin.email
                =link_to 'Edit profile', edit_admin_registration_path, :class => 'navbar-link'
                %li
                  \#{link_to "Logout", destroy_admin_session_path, method: :delete, :class => 'navbar-link'}
              - else
                %li
                  = link_to "S'inscrire", new_user_registration_path, :class => 'navbar-link'
                %li
                  \#{link_to "Se connecter", new_user_session_path, :class => 'navbar-link'}          
    .container
      .titre
        %h4
          Stagiie
          %small Venez partager l'expérience de la machine à café
      - if flash[:alert]
        .alert.alert-success.alert-dissmissable
          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} ×
          = flash[:alert]
    .container
      = yield
